body{
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}
/* this is header section */
header{
    width:100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

header a,.fa-shopping-cart,.fa-search{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left:30px;
}
/* here end header */
main{
    width:87%;
    margin: 0 auto;
  
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.first-section{
    justify-content: right;
}
.first-section h1{
    font-family: sans-serif;
    font-size: 2em;
}
.first-section button{
    background-color: crimson;
    border-radius: 18px;
    color: white;
    padding: 8px;
    border: none;
     
}
.first-section img{
    width: 250px;
    padding: 30px;
    height:250px;
    background-size: 300px;
    background-position: right;
    background-image: url(images/Circle-design.png);
    background-repeat: no-repeat;
    
}
.first-section img:hover{
    transform: scale(1.1) rotate(360deg);
    transition:4s;
}
.company-logo{
    width: 80%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 80px;
}
.logo img:hover{
    transform: scale(1.5);
    transition: 1s;
}
/* populer collection */
.popular{
    display: block;
    text-align: center;    
}
/* start article */
article{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:14px;
    row-gap: 15px;
    margin-bottom: 50px; 
}

.product{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #d3d2d1;
    border-radius: 8px;
    padding: 12px; 
}
.product img{
    max-width: 200px;   
}
.description{
    max-width: 200px;    
}

.product h1{
    font-family: sans-serif;
    margin: 4px 0px 4px;
}
.product span{
    font-weight: bold;
}
#description{
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}
.fa-star,.fa-star-half-alt{
    font-size: 10px;
    color: #ff6600;
    margin: 0%;
}
#rating{
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 5px;
}
.see-btn{
    /* width: 80%; */
    display: flex;
    justify-content: flex-end;
}
.see-btn a,.fa-long-arrow-alt-right{
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}
.see-btn .fa-long-arrow-alt-right{
    margin-left: 2px;
}
/* open section two */
.second{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.second .section-one img{
    height: 250px;
    width:300px;
    border-radius: 10px;
    margin-right: 60px;    
}
.second .section-two{
    font-family: sans-serif;
}
.second .section-two button{
     background-color: crimson;
     border-radius: 8px;
     color: white;
     border: none;
     padding:8px;
}

footer{
    height: 120px;
    background-color: black;
    color: white;
    text-align: center; 
    padding: 8px;
}footer h3{
   
    font-family: sans-serif;
}
footer p{
    font-size: 10px;
}
.social-site{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-instagram,.fa-facebook-square,.fa-youtube,.fa-twitter-square{
    margin: 0px 10px 0px 10px;
}
.social-site i:hover{
    transform: scale(1.5);
}
/* media queery for mobile */
/* .......................... */
@media screen and (max-width:460px){
 body{
     /* width:100%; */
    
 }
 header{display: block;
     width: 100%;
     height: 40px;
     display:block;
     color: teal;
    }
    header a,.fa-shopping-cart,.fa-search{
        display:none;
    }
    section{
      display: inline-block;
    }
    .first-section h1{
        padding: 10px;
        font-family: sans-serif;
        font-size:1.5em;
    }
    .first-section button{
        background-color: crimson;
        color: white;
        /* margin-bottom: 20px; */
    }
    .first-section img{
        border: 2px solid gray;
        float: right;
        width: 100px;
        height:100px;
        margin-top: 20px;
        background-image: none;
    }
    .first-section img:hover{
        transform: scale(1.1) 
    }
    .popular{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 50px; */
    }
    .company-logo{
       height: 0%;
       display: flex;
       flex-direction: column;
       justify-content: center;       
    }
    hr{
        display: none;
    }
    .logo img{
        width:92px;
        margin: 20px;
    }
    .logo img:hover{
        transform: scale(1.5);
        transition: 1s;
    }
    article{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .product img{
        width: 300px;   
    }
    .description{
        width: 350px;
    }
    .see-btn{
        display: flex;
        justify-content:center;        
    }
    .second{
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }
    .second .section-one img{
        margin: 0%;
        height: 250px;
        width:250px;
        border-radius: 10px;   
    }
    .second .section-two{
        font-family: sans-serif;
    }
    .second .section-two button{
         background-color: crimson;
         border-radius: 8px;
         color: white;
         border: none;
         padding:8px;
         margin-bottom: 0%;
    }
    footer{
        height: 120px;
        background-color: black;
        color: white;
        text-align: center;
    }
footer h3{
    padding-top:5px;
    font-family: sans-serif;
    margin-bottom: 0%;
}
footer p{
    font-size: 10px;
}
}

/* end the mobile query */
/* now tab media query */
@media screen and (min-width:461px) and (max-width:780px){
    body{
        margin: 0%;
        background-color: #fff;
    }
    header{
        display: visible;
    }
    header{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        height:70px;
        background-color:teal;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .header h2{
        margin: 0%;
    }
    
    header a,.fa-shopping-cart,.fa-search{
        text-decoration: none;
        color: white;
        font-size: 10px;
    }
    main{
        width:85%;
        margin: 0 auto;     
    }
    
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first-section{
        justify-content: ;
    }
    .first-section h1{
        font-family: sans-serif;
        font-size: 1.5em;
    }
    .first-section button{
        background-color: crimson;
        border-radius: 12px;
        color: white;
        padding: 5px;
        border: none;
         
    }
    .first-section img{
        width: 250px;
        padding: 30px;
        height:250px;
        background-size: 300px;
        background-position: center;
        background-image: url(images/Circle-design.png);
        background-repeat: no-repeat;
        
    }
    .company-logo{
        width: 80%;
        margin: 0 auto;
        height: 200px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .popular{
        display: block;
        text-align: center;    
    }
    article{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        /* grid-gap:10px; */
        row-gap: 15px; 
    }
    
    .product{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background-color: #d3d2d1;
        border-radius: 8px;
        padding: 12px; 
    }
    .second{
        width: 100%;
        display: flex;
        justify-content: center;    
    }
    .second .section-one img{
        height: 250px;
        width:100%;
        border-radius: 10px;   
    }
    .second .section-two{
        font-family: sans-serif;
    }
    .second .section-two button{
         background-color: crimson;
         border-radius: 5px;
         color: white;
         border: none;
         padding:5px;
    }
    .section-two h1{
        font-size: 1.5em;
    }
    .section-two p{
        font: size 14px;
        font-family:sans-serif;
    }
    footer{
        display: block;
        height:50px;
        background-color: black;
        color: white;
        text-align: center; 
        padding: 8px;
    }
    footer h3{
        font-size: 1em;
        margin: 0px;
        font-family: sans-serif;
    }
    footer p{
        margin: 0px;
        font-size:8px;
    }
}
/* closed tab media query */
@media screen and (min-width:781px){
    header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        height: 60px;
        display: visible;
        background-color:#000;
        margin-bottom: 20px;
    } 
    .header h2{
        color: white;
    } 
    footer{
        height: 55px;
    }
    footer h3{
        margin:0px;
        font-size: 1em;
    }
    footer p{
        margin: 0px;
    }
}